<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Gallery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <p>
      <table>
        <tr>
          <th>Title</th>
          <th>Location</th>
          <th>Author</th>
          <th>Date</th>
          <th>Video</th>
        </tr>
      <% @results.each do |r| %>
      <tr>
        <td><%= r.name %></td>
        <td><%= r.location %></td>
        <td><%= r.authors.join(",") %></td>
        <td><%= r.prepareDate.strftime("%d %b %Y %H:%M:%S") %></td>
        <td>
          <video controls muted poster="<%= r.image %>" width="600">
            <source src="<%= r.video %>" type="video/mp4">
        </td>
      </tr>
      <% end %>
    </table>
  </p>
  </body>
</html>
